.b-1 .b-block {
	padding-top: 65px;
	padding-bottom: 100px;
}
.b-1 h1 {
	display: block;
	font-family: 'DIN Condensed';
	font-size: 48px;
	text-align: left;
	margin-bottom: 65px;
	color: rgb(35, 31, 32);
	line-height: 1.2;
	text-transform: uppercase;
}
.b-1 .place {
	display: block;
	box-sizing: border-box;
	padding-left: 90px;
	font-family: 'FuturaDemi';
	font-size: 17px;
	color: rgb(122, 128, 128);
	line-height: 1.2;
	text-align: left;
	position: relative;
	margin-bottom: 80px;
}
.b-1 .place span {
	font-family: 'FuturaFuturisLightC';
	color: rgb(35, 31, 32);
	font-size: 24px;
}
.b-1 .place img {
	display: block;
	max-width: 60px;
	max-height: 55px;
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.b-1 .place-list {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	box-sizing: border-box;
	width: 100%;
}
.b-1 .place-list li {
	width: 23%;
}
.b-1 .place-list li .item-wrap {
	margin-bottom: 15px;
	width: 100%;
	text-align: left;
}
.b-1 .place-list li .item-wrap a {
	font-size: 18px;
	font-family: 'FuturaFuturisLightC';
	color: rgb(35, 31, 32);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-1 .place-list li .item-wrap a:hover {
	color: rgb(255, 93, 36);
}




@media screen and (max-width: 767px){
	.b-1 .place-list li {
		width: 48%;
	}
}
@media screen and (max-width: 500px){
	.b-1 .place-list {
		display: block;
	}
	.b-1 .place-list li {
		width: 100%;
	}
	.b-1 .place-list li .item-wrap {
		text-align: center;
	}
}